@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.cell {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#board {
  display: inline-grid;
  column-gap: 4px;
  row-gap: 4px;
  margin: 10px;
}
